Repository pjgrandinetti/OCTypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck, octypes-build-test, octypes-test

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --config-file=.clang-tidy
  - --header-filter=src/.*
  require_serial: true

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning,style,performance,portability
  - --suppress=missingIncludeSystem
  - --suppress=unusedFunction
  - --suppress=unmatchedSuppression
  - --suppress=constVariablePointer
  - --suppress=constParameterPointer
  ...

octypes-build-test:
  name: OCTypes Build Test
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

octypes-test:
  name: OCTypes Test Suite
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Fix circular dependency in header files
  src/OCLibrary.h
  src/OCType.h
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Optimize OCLeakTracker: Remove redundant file/line tracking
  .clang-tidy
  .pre-commit-config.yaml
  .pre-commit-config.yaml.backup
  .pre-commit-config.yaml.sitypes
  src/OCLeakTracker.c
  src/OCLeakTracker.h
  src/OCType.c
  src/OCType.h
  test_leak.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Implement rigorous pre-commit configuration and fix macro safety
  .pre-commit-config.yaml
  src/OCType.h
  tests/test_indexarray.h
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix documentation build: rename OCLibrary to OCTypes
  docs/api/OCLibrary.rst
  docs/api/OCTypes.rst
  docs/index.rst
Due: none

Fix Read the Docs build: correct HTML output path
  .readthedocs.yaml
Due: none

Fix corrupted .readthedocs.yaml file
  .readthedocs.yaml
Due: none

Recreate .readthedocs.yaml with valid YAML syntax
  .readthedocs.yaml
Due: none

Update OCIndex typedef from size_t to long
  src/OCType.h
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

remove files
  .pre-commit-config.yaml.backup
  .pre-commit-config.yaml.sitypes
  header_refactor.md
  test_leak.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Pack OCBase boolean flags into single byte using bitfields
  src/OCArray.c
  src/OCArray.h
  src/OCBoolean.c
  src/OCLeakTracker.c
  src/OCType.c
  src/OCType.h
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Make OCTypesShutdown() idempotent
  src/OCType.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix pre-commit issues: clang-format and cppcheck
  .pre-commit-config.yaml
  src/OCType.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix OCRange to use OCIndex consistently
  src/OCType.h
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Add shared library build support alongside static library
  .github/workflows/ci.yml
  Makefile
  SharedLibPlan.txt
Due: none

Build both static and shared libraries by default and fix test linking
  Makefile
Due: none

Fix OCString memory leaks and comprehensive code style improvements
  src/OCLeakTracker.c
  src/OCLeakTracker.h
  src/OCString.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix Windows build: Add dbghelp library linking for OCLeakTracker
  Makefile
Due: none

Fix MinGW Windows build: Disable stack traces on MinGW
  src/OCLeakTracker.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

update leaktracker with env var.
  Makefile
  src/OCLeakTracker.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

update make install
  Makefile
Due: none

Add infinity support to OCComplexParser
  src/OCComplexScanner.l
  tests/test_complex_parser.c
Due: cppcheck, octypes-build-test, octypes-test

update makefile test-asan with leak detection
  Makefile
Due: none

Enable Dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

Optimize CI: switch from test-asan to test for faster builds
  .github/workflows/ci.yml
Due: none

Test native ARM64 runner access via GitHub Education
  .github/workflows/ci.yml
Due: none

Revert to working ARM64 QEMU emulation solution
  .github/workflows/ci.yml
Due: none

Optimize CI: skip ARM64 on regular pushes, run only on releases
  .github/workflows/ci.yml
Due: none

Enhance leak tracking with detailed reporting
  src/OCType.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Optimize GitHub Actions CI workflow for performance and cost
  .github/workflows/ci.yml
Due: none

Refine CI workflow for more conservative builds
  .github/workflows/ci.yml
Due: none

Enable cross-platform builds on all pushes/PRs
  .github/workflows/ci.yml
Due: none

Streamline Makefile for improved build reliability
  Makefile
Due: none

Fix typedef redefinition warning and update build configuration
  Makefile
  compile_commands.json
  src/OCAutoreleasePool.h
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix Linux build errors in OCFileUtilities.c
  src/OCFileUtilities.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix Linux build errors in OCString.c
  src/OCString.c
Due: clang-tidy, cppcheck, octypes-build-test, octypes-test

Fix Linux build errors in flex scanner (OCComplexScanner.l)
  src/OCComplexScanner.l
Due: octypes-build-test, octypes-test

Clean up OCComplexScanner.l include structure
  src/OCComplexScanner.l
Due: octypes-build-test, octypes-test

Fix Linux CI: Add explicit function declarations for flex-generated code
  src/OCComplexScanner.l
Due: octypes-build-test, octypes-test

Remove -std=c99 from default CFLAGS to fix Linux CI builds
  Makefile
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, but not: ^(build/|docs/|tests/|src/cJSON)
  cppcheck: any of: \.(c|h)$, but not: ^(build/|docs/|src/cJSON)
  octypes-build-test: any of: \.(c|h|y|l)$, but not: ^(docs/|\.git/|tests/)
  octypes-test: any of: \.(c|h|y|l)$, but not: ^(docs/|\.git/)
